body {
    background-color: #0d1117;
    font-family: calibri;
    color: #c2c2c2;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
}

p {
    margin: 0;
}

table {
    border-collapse: collapse;
    /* Removes space between cells */
}

th,
td {
    border: 1px solid #c2c2c2;
    padding: 5px;
    text-align: left;
}